*.dat
*.csv
*.csv#
*.jpg
*.gif
*.error
*.swp
*.png
*.tiff
*.tif
*.*~*
*.err
*.webm
*.~*
*.log
*.test
*.test.*
*.pyc
*.eps
*.aux
*.xml
*.ini
.metadata
RemoteSystemsTempFiles
.settings
*.o
*.a
*.seed
.project
.cproject
*.out
*.m
*.txt.out
*.swo
*.bak
